## Preprocessing

In [58]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

In [59]:
# Prep for file reading from google drive
from google.colab import drive

drive.mount('/content/gdrive/')

Drive already mounted at /content/gdrive/; to attempt to forcibly remount, call drive.mount("/content/gdrive/", force_remount=True).

In [60]:
#  Import and read the charity_data.csv.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [61]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df.drop(columns=['EIN','NAME'],inplace=True)
application_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [62]:
# Determine the number of unique values in each column.
application_df[list(application_df.columns)].nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [63]:
# Look at APPLICATION_TYPE value counts for binning
application_types = application_df['APPLICATION_TYPE'].value_counts()
application_types

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [64]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = [i for i, value in application_types.items() if value < 500]

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [65]:
# Look at CLASSIFICATION value counts for binning
classifications = application_df['CLASSIFICATION'].value_counts()
classifications

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [66]:
# You may find it helpful to look at CLASSIFICATION value counts >1
classifications_above_one_df = application_df[application_df.groupby('CLASSIFICATION')['CLASSIFICATION'].transform('size')>1]
classifications_above_one_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1237        9
C1235        9
C7210        7
C4100        6
C1720        6
C2400        6
C1600        5
C1257        5
C1260        3
C2710        3
C0           3
C1267        2
C1256        2
C1234        2
C1246        2
C3200        2
Name: CLASSIFICATION, dtype: int64

In [67]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = [i for i, value in classifications.items() if value < 1500]

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")

# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [68]:
# Convert categorical data to numeric with `pd.get_dummies`
application_encoded_df = pd.get_dummies(application_df, columns=['APPLICATION_TYPE', 'AFFILIATION', 'CLASSIFICATION', 'USE_CASE',
       'ORGANIZATION', 'INCOME_AMT', 'SPECIAL_CONSIDERATIONS'])
application_encoded_df.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,1,108590,1,0,0,0,1,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,1,5000,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
3,1,6692,1,0,0,0,1,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,1,142590,1,0,0,0,1,0,0,0,...,0,0,1,0,0,0,0,0,1,0

In [72]:
# Split our preprocessed data into our features and target arrays

# Separate the y variable, the labels
y = application_encoded_df["IS_SUCCESSFUL"]

# Separate the X variable, the features
X = application_encoded_df.drop(columns="IS_SUCCESSFUL")

# Split the preprocessed data into a training and testing dataset
# Assign a random_state of 1 to the function
X_train, X_test, y_train, y_test = train_test_split(X,
                                                    y,
                                                    random_state=1,
                                                    stratify=y)

In [73]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [74]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
nn_model = tf.keras.models.Sequential()

# First hidden layer
# Add our first Dense layer, including the input layer
nn_model.add(tf.keras.layers.Dense(units=80, activation="relu", input_dim=43))

# Second hidden layer
nn_model.add(tf.keras.layers.Dense(units=30, activation="sigmoid"))

# Output layer
nn_model.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn_model.summary()

Model: "sequential_2"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_6 (Dense)             (None, 80)                3520

 dense_7 (Dense)             (None, 30)                2430

 dense_8 (Dense)             (None, 1)                 31

=================================================================
Total params: 5,981
Trainable params: 5,981
Non-trainable params: 0
_________________________________________________________________

In [76]:
# Compile the model
nn_model.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [77]:
from keras.callbacks import ModelCheckpoint

# create a checkpoint
checkpoint = ModelCheckpoint("/content/gdrive/MyDrive/Colab Notebooks/Alphabet Soup/model_weights.h5", monitor='accuracy', verbose=1, save_weights_only=True, save_freq='epoch', period=5)

# Train the model
fit_model = nn_model.fit(X_train_scaled, y_train, epochs=100, callbacks=[checkpoint])

WARNING:tensorflow:`period` argument is deprecated. Please use `save_freq` to specify the frequency in number of batches seen.

Epoch 1/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5781 - accuracy: 0.7115
Epoch 2/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5567 - accuracy: 0.7290
Epoch 3/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5536 - accuracy: 0.7282
Epoch 4/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5519 - accuracy: 0.7300
Epoch 5/100
801/804 [============================>.] - ETA: 0s - loss: 0.5510 - accuracy: 0.7301
Epoch 5: saving model to /content/gdrive/MyDrive/Colab Notebooks/Alphabet Soup/model_weights.h5
804/804 [==============================] - 2s 2ms/step - loss: 0.5508 - accuracy: 0.7304
Epoch 6/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5490 - accuracy: 0.7316
Epoch 7/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5480 - accuracy: 0.7329
Epoch 8/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5481 - accuracy: 0.7320
Epoch 9/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5471 - accuracy: 0.7322
Epoch 10/100
786/804 [============================>.] - ETA: 0s - loss: 0.5471 - accuracy: 0.7312
Epoch 10: saving model to /content/gdrive/MyDrive/Colab Notebooks/Alphabet Soup/model_weights.h5
804/804 [==============================] - 2s 3ms/step - loss: 0.5471 - accuracy: 0.7313
Epoch 11/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5462 - accuracy: 0.7330
Epoch 12/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5455 - accuracy: 0.7332
Epoch 13/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5456 - accuracy: 0.7319
Epoch 14/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5450 - accuracy: 0.7325
Epoch 15/100
799/804 [============================>.] - ETA: 0s - loss: 0.5443 - accuracy: 0.7328
Epoch 15: saving model to /content/gdrive/MyDrive/Colab Notebooks/Alphabet Soup/model_weights.h5
804/804 [==============================] - 3s 3ms/step - loss: 0.5443 - accuracy: 0.7327
Epoch 16/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5440 - accuracy: 0.7348
Epoch 17/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5438 - accuracy: 0.7332
Epoch 18/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5435 - accuracy: 0.7331
Epoch 19/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5436 - accuracy: 0.7322
Epoch 20/100
803/804 [============================>.] - ETA: 0s - loss: 0.5429 - accuracy: 0.7338
Epoch 20: saving model to /content/gdrive/MyDrive/Colab Notebooks/Alphabet Soup/model_weights.h5
804/804 [==============================] - 2s 3ms/step - loss: 0.5428 - accuracy: 0.7339
Epoch 21/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5420 - accuracy: 0.7342
Epoch 22/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5423 - accuracy: 0.7355
Epoch 23/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5418 - accuracy: 0.7356
Epoch 24/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5417 - accuracy: 0.7331
Epoch 25/100
790/804 [============================>.] - ETA: 0s - loss: 0.5415 - accuracy: 0.7368
Epoch 25: saving model to /content/gdrive/MyDrive/Colab Notebooks/Alphabet Soup/model_weights.h5
804/804 [==============================] - 2s 2ms/step - loss: 0.5417 - accuracy: 0.7366
Epoch 26/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5411 - accuracy: 0.7371
Epoch 27/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5406 - accuracy: 0.7353
Epoch 28/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5407 - accuracy: 0.7373
Epoch 29/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5404 - accuracy: 0.7352
Epoch 30/100
798/804 [============================>.] - ETA: 0s - loss: 0.5403 - accuracy: 0.7367
Epoch 30: saving model to /content/gdrive/MyDrive/Colab Notebooks/Alphabet Soup/model_weights.h5
804/804 [==============================] - 2s 2ms/step - loss: 0.5405 - accuracy: 0.7365
Epoch 31/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5399 - accuracy: 0.7365
Epoch 32/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5396 - accuracy: 0.7350
Epoch 33/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5398 - accuracy: 0.7360
Epoch 34/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5395 - accuracy: 0.7365
Epoch 35/100
789/804 [============================>.] - ETA: 0s - loss: 0.5391 - accuracy: 0.7371
Epoch 35: saving model to /content/gdrive/MyDrive/Colab Notebooks/Alphabet Soup/model_weights.h5
804/804 [==============================] - 2s 3ms/step - loss: 0.5392 - accuracy: 0.7372
Epoch 36/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5390 - accuracy: 0.7370
Epoch 37/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5390 - accuracy: 0.7363
Epoch 38/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5386 - accuracy: 0.7366
Epoch 39/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5388 - accuracy: 0.7368
Epoch 40/100
790/804 [============================>.] - ETA: 0s - loss: 0.5383 - accuracy: 0.7369
Epoch 40: saving model to /content/gdrive/MyDrive/Colab Notebooks/Alphabet Soup/model_weights.h5
804/804 [==============================] - 3s 3ms/step - loss: 0.5382 - accuracy: 0.7369
Epoch 41/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5380 - accuracy: 0.7386
Epoch 42/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5380 - accuracy: 0.7363
Epoch 43/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5378 - accuracy: 0.7360
Epoch 44/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5380 - accuracy: 0.7371
Epoch 45/100
797/804 [============================>.] - ETA: 0s - loss: 0.5374 - accuracy: 0.7389
Epoch 45: saving model to /content/gdrive/MyDrive/Colab Notebooks/Alphabet Soup/model_weights.h5
804/804 [==============================] - 2s 3ms/step - loss: 0.5375 - accuracy: 0.7386
Epoch 46/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5373 - accuracy: 0.7383
Epoch 47/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5370 - accuracy: 0.7376
Epoch 48/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5372 - accuracy: 0.7387
Epoch 49/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5368 - accuracy: 0.7390
Epoch 50/100
781/804 [============================>.] - ETA: 0s - loss: 0.5360 - accuracy: 0.7386
Epoch 50: saving model to /content/gdrive/MyDrive/Colab Notebooks/Alphabet Soup/model_weights.h5
804/804 [==============================] - 2s 3ms/step - loss: 0.5367 - accuracy: 0.7384
Epoch 51/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5367 - accuracy: 0.7381
Epoch 52/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5366 - accuracy: 0.7389
Epoch 53/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5365 - accuracy: 0.7378
Epoch 54/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5364 - accuracy: 0.7382
Epoch 55/100
798/804 [============================>.] - ETA: 0s - loss: 0.5366 - accuracy: 0.7381
Epoch 55: saving model to /content/gdrive/MyDrive/Colab Notebooks/Alphabet Soup/model_weights.h5
804/804 [==============================] - 2s 3ms/step - loss: 0.5365 - accuracy: 0.7382
Epoch 56/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5363 - accuracy: 0.7385
Epoch 57/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5360 - accuracy: 0.7387
Epoch 58/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5360 - accuracy: 0.7391
Epoch 59/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5359 - accuracy: 0.7388
Epoch 60/100
786/804 [============================>.] - ETA: 0s - loss: 0.5356 - accuracy: 0.7390
Epoch 60: saving model to /content/gdrive/MyDrive/Colab Notebooks/Alphabet Soup/model_weights.h5
804/804 [==============================] - 2s 2ms/step - loss: 0.5357 - accuracy: 0.7388
Epoch 61/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5356 - accuracy: 0.7393
Epoch 62/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5356 - accuracy: 0.7387
Epoch 63/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5355 - accuracy: 0.7393
Epoch 64/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5355 - accuracy: 0.7403
Epoch 65/100
792/804 [============================>.] - ETA: 0s - loss: 0.5348 - accuracy: 0.7395
Epoch 65: saving model to /content/gdrive/MyDrive/Colab Notebooks/Alphabet Soup/model_weights.h5
804/804 [==============================] - 3s 3ms/step - loss: 0.5351 - accuracy: 0.7391
Epoch 66/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5353 - accuracy: 0.7398
Epoch 67/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5351 - accuracy: 0.7391
Epoch 68/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5353 - accuracy: 0.7393
Epoch 69/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5349 - accuracy: 0.7392
Epoch 70/100
802/804 [============================>.] - ETA: 0s - loss: 0.5347 - accuracy: 0.7396
Epoch 70: saving model to /content/gdrive/MyDrive/Colab Notebooks/Alphabet Soup/model_weights.h5
804/804 [==============================] - 2s 3ms/step - loss: 0.5347 - accuracy: 0.7397
Epoch 71/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5348 - accuracy: 0.7399
Epoch 72/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5343 - accuracy: 0.7399
Epoch 73/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5346 - accuracy: 0.7389
Epoch 74/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5344 - accuracy: 0.7397
Epoch 75/100
791/804 [============================>.] - ETA: 0s - loss: 0.5348 - accuracy: 0.7395
Epoch 75: saving model to /content/gdrive/MyDrive/Colab Notebooks/Alphabet Soup/model_weights.h5
804/804 [==============================] - 3s 3ms/step - loss: 0.5346 - accuracy: 0.7395
Epoch 76/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5343 - accuracy: 0.7395
Epoch 77/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5342 - accuracy: 0.7400
Epoch 78/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5344 - accuracy: 0.7396
Epoch 79/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5341 - accuracy: 0.7401
Epoch 80/100
790/804 [============================>.] - ETA: 0s - loss: 0.5338 - accuracy: 0.7403
Epoch 80: saving model to /content/gdrive/MyDrive/Colab Notebooks/Alphabet Soup/model_weights.h5
804/804 [==============================] - 2s 3ms/step - loss: 0.5340 - accuracy: 0.7397
Epoch 81/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5342 - accuracy: 0.7397
Epoch 82/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5338 - accuracy: 0.7405
Epoch 83/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5340 - accuracy: 0.7402
Epoch 84/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5339 - accuracy: 0.7397
Epoch 85/100
799/804 [============================>.] - ETA: 0s - loss: 0.5338 - accuracy: 0.7403
Epoch 85: saving model to /content/gdrive/MyDrive/Colab Notebooks/Alphabet Soup/model_weights.h5
804/804 [==============================] - 2s 3ms/step - loss: 0.5338 - accuracy: 0.7405
Epoch 86/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5337 - accuracy: 0.7400
Epoch 87/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5336 - accuracy: 0.7402
Epoch 88/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5334 - accuracy: 0.7397
Epoch 89/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5335 - accuracy: 0.7399
Epoch 90/100
788/804 [============================>.] - ETA: 0s - loss: 0.5333 - accuracy: 0.7396
Epoch 90: saving model to /content/gdrive/MyDrive/Colab Notebooks/Alphabet Soup/model_weights.h5
804/804 [==============================] - 2s 3ms/step - loss: 0.5333 - accuracy: 0.7397
Epoch 91/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5336 - accuracy: 0.7400
Epoch 92/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5334 - accuracy: 0.7404
Epoch 93/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5332 - accuracy: 0.7392
Epoch 94/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5331 - accuracy: 0.7397
Epoch 95/100
803/804 [============================>.] - ETA: 0s - loss: 0.5330 - accuracy: 0.7407
Epoch 95: saving model to /content/gdrive/MyDrive/Colab Notebooks/Alphabet Soup/model_weights.h5
804/804 [==============================] - 2s 2ms/step - loss: 0.5330 - accuracy: 0.7407
Epoch 96/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5333 - accuracy: 0.7405
Epoch 97/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5331 - accuracy: 0.7404
Epoch 98/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5329 - accuracy: 0.7410
Epoch 99/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5330 - accuracy: 0.7403
Epoch 100/100
795/804 [============================>.] - ETA: 0s - loss: 0.5333 - accuracy: 0.7406
Epoch 100: saving model to /content/gdrive/MyDrive/Colab Notebooks/Alphabet Soup/model_weights.h5
804/804 [==============================] - 3s 3ms/step - loss: 0.5333 - accuracy: 0.7406

In [78]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn_model.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5594 - accuracy: 0.7296 - 428ms/epoch - 2ms/step
Loss: 0.559407114982605, Accuracy: 0.7295626997947693

In [79]:
# Export our model to HDF5 file
nn_model.save("/content/gdrive/MyDrive/Colab Notebooks/Alphabet Soup/AlphabetSoupCharity.h5")

In [80]:
!ls "/content/gdrive/MyDrive/Colab Notebooks/Alphabet Soup/"

AlphabetSoupCharity.h5	alphabet_soup.ipynb  model_weights.h5